<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>平台管理-时间段浮动比例设置</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
<link href="css/base.css" rel="stylesheet" type="text/css" />
<link href="css/sys.css" rel="stylesheet" type="text/css" />
</head>

<body>
<table cellpadding="0" cellspacing="0" class="warpper">
   <tr>
      <td width="199" class="left text_center" valign="top">
         <a href=""><img src="images/logo_sys.jpg" width="199" /></a>
         <dl class="nav current">
            <dt>用户管理<i class="ml20">-</i></dt>
            <dd class="current"><a href="" class="f14 color_5c">用户列表</a></dd>
         </dl>
         <dl class="nav">
            <dt>活动管理<i class="ml20">+</i></dt>
            <dd><a href="" class="f14 color_5c">活动列表</a></dd>
            <dd class="current"><a href="" class="f14 color_5c">添加活动</a></dd>
            <dd><a href="" class="f14 color_5c">积分设置</a></dd>
         </dl>
         <dl class="nav">
            <dt>新闻管理<i class="ml20">+</i></dt>
            <dd><a href="" class="f14 color_5c">新闻列表</a></dd>
            <dd><a href="" class="f14 color_5c">添加新闻</a></dd>
         </dl>
         <dl class="nav">
            <dt>系统设置<i class="ml20">+</i></dt>
            <dd><a href="" class="f14 color_5c">行业设置</a></dd>
            <dd><a href="" class="f14 color_5c">系统配置</a></dd>
            <dd><a href="" class="f14 color_5c">级别浮动比例(咨询者)</a></dd>
            <dd><a href="" class="f14 color_5c">行业浮动比例(咨询者)</a></dd>
            <dd><a href="" class="f14 color_5c">时间段浮动比例(咨询者)</a></dd>
            <dd><a href="" class="f14 color_5c">专家地区浮动比例(咨询者)</a></dd>
            <dd><a href="" class="f14 color_5c">级别浮动比例(专家)</a></dd>
            <dd><a href="" class="f14 color_5c">行业浮动比例(专家)</a></dd>
            <dd><a href="" class="f14 color_5c">时间段浮动比例(专家)</a></dd>
            <dd><a href="" class="f14 color_5c">专家地区浮动比例(专家)</a></dd>
         </dl>
         <dl class="nav">
            <dt>APP管理<i class="ml20">+</i></dt>
            <dd><a href="" class="f14 color_5c">app设置</a></dd>
         </dl>
         <dl class="nav">
            <dt>权限管理<i class="ml20">+</i></dt>
            <dd><a href="" class="f14 color_5c">帐号列表</a></dd>
            <dd><a href="" class="f14 color_5c">添加帐号</a></dd>
         </dl>
         <dl class="nav">
            <dt>财务管理<i class="ml20">+</i></dt>
            <dd><a href="" class="f14 color_5c">充值列表</a></dd>
            <dd><a href="" class="f14 color_5c">消费列表</a></dd>
            <dd><a href="" class="f14 color_5c">提现列表</a></dd>
            <dd><a href="" class="f14 color_5c">系统发送积分列表</a></dd>
         </dl>
         <dl class="nav">
            <dt>表报管理<i class="ml20">+</i></dt>
            <dd><a href="" class="f14 color_5c">充值报表</a></dd>
            <dd><a href="" class="f14 color_5c">消费报表</a></dd>
            <dd><a href="" class="f14 color_5c">提现报表</a></dd>
         </dl>
      </td>
      <td class="right" valign="top">
         <div class="right_top clearfix">
            <ul class="right_nav fr">
               <li class="fl color_ff mr20">XX，欢迎登录问堂后台管理系统</li>
               <li class="fl"><a href="" class="color_ff">修改密码</a></li>
               <li class="fl"><a href="" class="color_ff">退出登录</a></li>
            </ul>
         </div>
         <p class="main mt20"><a href="">平台管理</a> > 系统设置 > 时间段浮动比例设置</p>
         <div class="main">
            <form action="" method="">
               <table cellspacing="0" cellpadding="0" width="100%" class="form_table mt20">
                  <tr>
                     <td>星期/时</td>
                     <td>星期一</td>
                     <td>星期二</td>
                     <td>星期三</td>
                     <td>星期四</td>
                     <td>星期五</td>
                     <td>星期六</td>
                     <td>星期日</td>
                  </tr>
                  <tr>
                     <td class="times">
                        <p>00:00-00:59</p>
                        <p>01:00-01:59</p>
                        <p>02:00-02:59</p>
                        <p>03:00-03:59</p>
                        <p>04:00-04:59</p>
                        <p>05:00-05:59</p>
                        <p>06:00-06:59</p>
                        <p>07:00-07:59</p>
                        <p>08:00-08:59</p>
                        <p>09:00-09:59</p>
                        <p>10:00-10:59</p>
                        <p>11:00-11:59</p>
                        <p>12:00-12:59</p>
                        <p>13:00-13:59</p>
                        <p>14:00-14:59</p>
                        <p>15:00-15:59</p>
                        <p>16:00-16:59</p>
                        <p>17:00-17:59</p>
                        <p>18:00-18:59</p>
                        <p>19:00-19:59</p>
                        <p>20:00-20:59</p>
                        <p>21:00-21:59</p>
                        <p>22:00-22:59</p>
                        <p>23:00-23:59</p>
                     </td>
                     <td colspan="7">
                        <form action="" method="post">
                           <table cellpadding="0" cellspacing="0" width="100%" class="form_table_inside">
                              <tr>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                              </tr>
                              <tr>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                              </tr>
                              <tr>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                              </tr>
                              <tr>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                              </tr>
                              <tr>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                              </tr>
                              <tr>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                              </tr>
                              <tr>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                              </tr>
                              <tr>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                              </tr>
                              <tr>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                              </tr>
                              <tr>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                              </tr>
                              <tr>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                              </tr>
                              <tr>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                              </tr>
                              <tr>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                              </tr>
                              <tr>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                              </tr>
                              <tr>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                              </tr>
                              <tr>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                              </tr>
                              <tr>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                              </tr>
                              <tr>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                              </tr>
                              <tr>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                              </tr>
                              <tr>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                              </tr>
                              <tr>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                              </tr>
                              <tr>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                              </tr>
                              <tr>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                              </tr>
                              <tr>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                                 <td><input type="text" name="" id="" class="fany_input w100" /></td>
                              </tr>
                           </table>
                        </form>
                     </td>
                  </tr>
                  <tr>
                     <td width="150" class="text_right"></td>
                     <td colspan="7"><a href="javascript:" class="fany_btn f14 color_ff">设置</a></td>
                  </tr>
               </table>
            </form>
         </div>
        <div class="footer text_center">&copy;copyright 2015 问堂有限公司  版权所有</div>
      </td>
   </tr>
</table>
<script src="js/common/js/jquery-1.7.1.min.js"></script>
<script src="js/common/js/jquery.longyuJs.js"></script>
<script src="js/common/js/jquery.dialog.js"></script>
<script src="js/nav.js"></script>
<script>
   $(function(){
	   var cw=$(window).height();
	   $(".warpper").css("min-height",cw-2);
      //提交设置
      $(".fany_btn").click(function(){
         var inputs=$(".form_table_inside").find("input");
         var len=$(inputs).length;
         var yReg = /^\d+$/;
         var zReg = /^\d+(\.\d{0,2})?$/;
         for(var i=0;i<len;i++){
            if($.trim($(inputs[i]).val())==""){
               $.dialog({type:2,text:"请填写所有时间段的比例设置"});
               return false;
            }
            if(!zReg.test($.trim($(inputs[i]).val()))){
               $.dialog({type:2,text:"输入的比例格式不正确"});
               return false;
            }
         }
         $("form").submit();
      });
   });
</script>
</body>
</html>
